# Зависимости
node_modules/

# Результат сборки
dist/

# Файлы окружения
.env
.env.local
.env.production

# Редакторы кода
.vscode/
.idea/
*.swp

# Операционная система
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*