# Node.js dependencies
# -------------------------------------------------------------
node_modules/

# Build artifacts
# -------------------------------------------------------------
dist/
.vite/

# Python bytecode and cache
# -------------------------------------------------------------
*__pycache__/
*venv

# Editor and IDE specific files
# -------------------------------------------------------------
.vscode/
.idea/

# Operating System files
# -------------------------------------------------------------
# macOS system files
.DS_Store

# Secrets and sensitive files
# -------------------------------------------------------------
prod
ansible/.env
secrets.yml

# Other files and directories to ignore
# -------------------------------------------------------------
backups
ansible_old
.prettierrc
.github/workflows/deploy_old.yml