# Node.js dependencies
# -------------------------------------------------------------
node_modules/

# Build artifacts
# -------------------------------------------------------------
dist/
.vite/

# Python bytecode and cache
# -------------------------------------------------------------
*__pycache__/
*venv

# Editor and IDE specific files
# -------------------------------------------------------------
.vscode/
.idea/

# Operating System files
# -------------------------------------------------------------
# macOS system files
.DS_Store

# Secrets and sensitive files
# -------------------------------------------------------------
prod/infra/.env
prod/servers/.env
prod/certificates/

# Other files and directories to ignore
# -------------------------------------------------------------
backups