# Настройки визуализации вывода Ansible в консоль (терминал)
[defaults]

# Используем стандартный плагин вывода Ansible
stdout_callback = ansible.builtin.default

# Форматируем результаты выполнения задач в читаемый 
# YAML вместо сплошного JSON (словари, логи, ошибки)
callback_result_format = yaml

# Включаем "красивое" форматирование (pretty-print) для 
# структурированных данных и массивов
callback_format_pretty = true