# -----------------------------------------------------
#  Backend + Frontend + Postgres
# -----------------------------------------------------

services:
    postgres:
        image: postgres:17-alpine
        container_name: postgres
        env_file:
            - .env
        volumes:
            - "{{ data_dir }}/pgdata:/var/lib/postgresql/data"
        networks:
            - vpn_net
        restart: unless-stopped
        logging:
            driver: "json-file"
            options:
                max-size: "3m"
                max-file: "2"

    backend:
        image: "ghcr.io/{{ ghcr_owner }}/htrbox-backend:{{ image_tag }}"
        container_name: backend
        env_file:
            - .env
        environment:
            - DOCKER_ENV=true
        depends_on:
            - postgres
        ports:
            - "8000:8000"
        networks:
            - vpn_net
        restart: unless-stopped
        logging:
            driver: "json-file"
            options:
                max-size: "3m"
                max-file: "2"

    frontend:
        image: "ghcr.io/{{ ghcr_owner }}/htrbox-frontend:{{ image_tag }}"
        container_name: frontend
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /etc/letsencrypt:/etc/letsencrypt:ro
        depends_on:
            - backend
        networks:
            - vpn_net
        restart: unless-stopped
        logging:
            driver: "json-file"
            options:
                max-size: "3m"
                max-file: "2"

networks:
    vpn_net:
        driver: bridge
