# -----------------------------------------------------
#  VPS server: {{ vps_domain }}
# -----------------------------------------------------

services:
    hysteria:
        image: tobyxdd/hysteria:v2.7.0
        container_name: hysteria
        env_file:
            - .env
        volumes:
            - ./hysteria/config.yaml:/etc/hysteria/config.yaml:ro
            - "/etc/letsencrypt/live/{{ vps_domain }}/fullchain.pem:/etc/hysteria/certs/server.crt:ro"
            - "/etc/letsencrypt/live/{{ vps_domain }}/privkey.pem:/etc/hysteria/certs/server.key:ro"
        command: server -c /etc/hysteria/config.yaml --disable-update-check
        ports:
            - "{{ vpn_port }}:{{ vpn_port }}/udp"
            - "{{ vpn_port }}:{{ vpn_port }}/tcp"
            - "8080:8080"
        restart: unless-stopped

        logging:
            driver: "json-file"
            options:
                max-size: "3m"
                max-file: "2"
